<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- <!–Internet permission and network access permission–> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fancoin"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".UploadSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".Onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".ActionSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".Utils.WatchVideoActivity"
            android:exported="false" />
        <activity
            android:name=".Onboarding.Auth.ForgotPassActivity"
            android:exported="false" />
        <activity
            android:name=".UnverifiedEmailActivity"
            android:exported="false" />
        <activity
            android:name=".AddShowcaseActivity"
            android:exported="false" />
        <activity
            android:name=".Utils.UploadVideoActivity"
            android:exported="false" />
        <activity
            android:name=".Order.OrderReplyActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.Admin.UserAdministrationActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.Admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Order.MyOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.RequestsActivity"
            android:exported="false" />
        <activity
            android:name=".Order.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.UserApplicationSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".Order.SuccessOrderActivity"
            android:exported="false" />
        <activity
            android:name=".Order.OrderVideoActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.UserApplicationActivity"
            android:exported="false" />
        <activity
            android:name=".Wallet.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.SettingsActivity.SettingsThemeActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.SettingsActivity.SettingsLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.SettingsActivity.SettingsPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.SettingsActivity.SettingsEmailActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.SettingsActivity.SettingsManageVideosActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.SettingsActivity.SettingsAccountInformationActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.SettingsActivity.SettingsProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile.SettingsActivity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".PostDetails"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Onboarding.Auth.Register"
            android:exported="false" />
        <activity
            android:name=".Onboarding.Auth.Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>